.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
  background-color: #282c34;
  overflow: auto;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Protect-button {
  display: inline-block;
  background: #4682b4;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 10px 10px 3px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10pt;
  width: 55%;
}

.Protect-button:hover {
  background: #0f4979;
}

.Protect-button:active {
  transform: scale(0.96);
}